.header_con{
    padding: 0 5%;
    background-color: #081237;
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;

}
.heder_name{
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}
.heder_dow{
    cursor: pointer;
    color: aliceblue;
    display: inline-block;
    margin-left: 50px;
    font-size: 18px;
    width: 120px;
    text-align: right;
}